<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Car_RentalSelling_Management_System.Properties.Settings.Car_AgencyConnectionString"
            connectionString="Data Source=DESKTOP-AO339EH;Initial Catalog=Car_Agency;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>